bezierTest/DerivedData
bezierTest/Pods
bezierTest/bezierTest.xcodeproj/project.xcworkspace/xcshareddata
bezierTest/bezierTest.xcodeproj/project.xcworkspace/xcuserdata
bezierTest/bezierTest.xcworkspace/xcuserdata
